.modal-overlay {
  background:rgba(0,0,0,.8) !important;
  height: 100%;
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  transition: opacity .2s;
  z-index: 2;
  display: none;
}

/*
  Modal Content Area
*/
.modal-holder {
  background: #efefef;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  overflow: auto !important;
  padding: 1.5em !important;
  position: fixed;
  transition: transform .3s;
  max-height: 80%;
  top: 10%;
  left: 15%;
  z-index: 3;
  &[aria-hidden="true"] {
    opacity: 0;
    visibility: hidden;
  }

  &[aria-hidden="false"] {
    opacity: 1;
    visibility: visible;
  }
}

/*
  General Modal Content
*/
.modal-title {
  margin-top: 0;
  padding-right: 1.25em;
}

.modal-desc {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
  Close Modal Button
*/
.btn-close {
  background: none;
  border: none;
  cursor: pointer;
  font-family: arial;
  font-size: 2em;
  font-weight: 800;
  line-height: 1;
  padding: 0;
  position: absolute;
  right: .25em;
  top: .25em;
  z-index: 2;
  &:focus {
    color: $wai_red;
  }
}