/* [DRAFT in progress] Style for W3C WAI pages
 *
 * Copyright  2005 W3C (MIT, ERCIM, Keio). All Rights Reserved.
 * See http://www.w3.org/Consortium/Legal/ipr-notice.html#Copyright
 *
 * Author: W3C Team
 * In Progress: July 2005
 */

/*
 * This style assumes the following structure for the page.
 * Parentheses () mean that there is expected to be an element, but the
 * actual ID, class or element type is immaterial. Square brackets []
 * meant that the element (with its children) may also be omitted.
 *
 * #controls
 *   li
 *   li
 * #masthead
 *   p
 *     img
 *     [img]
 * #tagline
 *   p
 *   [p]
 * [#what]
 * #nav
 *   h2 [will be hidden]
 *   #w3cnav
 *   #subhomenav >>>formerly #wainav
 *   #nav1
 *   #nav-static
	*						.nav-discover
	*      .translations
 *   ...
 * #main
 *   h1
 *   [#contents]
 *   [#announce]
 *   [.sidebar]
 *   (p)
 *   ...
 * #footer
 *   h2 [will be hidden]
 *   (p)
 *   ...
 */

@-ms-viewport { width: device-width; } @-o-viewport { width: device-width; } @viewport { width: device-width; }

@import "normalize";
@import "compass/css3";
@import "helpers";
@import "permalink";

// MQ-Variables

// W3C Colours
$w3c_paleblue: #f1f7fb;
$w3c_blue: #005A9C;
$w3c_fg: #ffffff;
$wai_bg: #fffaf5;
$wai_fg: black;
$wai_link: #003366;
$wai_link_visited: #660033;
$wai_link_active: #003366;
$wai_red: #993300;

// Grid systems variable

$total_columns:     12;         //              //
$total_width:       100%;      // px|100%      // px = fixed, 100% = fluid
$gutter_width:      2%;         // px|%         // px = fixed, % = fluid
$container_margin:  0.5%;         // auto|px|%    //

// Font definitions

@include font-face("Vollkorn", font-files("vollkorn/vollkorn-regular.woff"), "vollkorn/vollkorn-regular.eot");

/* TODO: font family is an OPEN ISSUE */
.font-primary {
	font-family: "Trebuchet MS", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
}

.font-secondary {
	font-family: "Vollkorn", Georgia, Times, "Times New Roman", serif;
}

/*
* Basics
*/

body {
  margin: 0 1em 1em 1em;	/* 0 at the top, because of #controls */
  padding: 0;
  @extend .font-primary;
  background: $wai_bg;
  color: $wai_fg;
  line-height: 135%;
  font-size: 90%   /* font sizing is an OPEN ISSUE */
}

img {
  border-style: none;		/* Undo Mozilla UA style sheet */
  vertical-align: baseline;
  max-width: 100%;		/* Scale images down on narrow windows */
}

a {
  &:link {
    color: $wai_link;
  }
  &:visited {
    color: $wai_link_visited;
  }
  &:hover, &:focus {
    text-decoration: underline;
  }
}

/*
* The #controls element is designed to blend win with most UA skins.
* Content is inline, in black text on a gray background, 
* and right-aligned.
*/
#controls {
  display: block;
  background: #CCC;
  color: $wai_fg;
  text-align: right;
  margin: 0 -1em 0 -1em;
  padding: 0.2em;
  border-bottom: 1px solid black;
  border-right: 2px solid #ccc; /* Avoids that Moz shows a horiz. scrollbar */
  * {
    display: inline;
    color: $wai_fg;
    text-decoration: none;
    margin: 0 0 0 .33em;
    padding: 0;
  }
  a {
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

/*
* The #masthead element contains one or two logos. It has a white
* background (just like the #homenav child of the #nav menu further
* down). The #masthead element has a child (p) that contains the
* logos. This child is put in the left column, while the #masthead
* element itself (which is otherwise empty, but has an image
* background) is in the middle+right column.
*/
#masthead {
  margin-left: 24%;		/* The background to the right of the logos */
  background: url(http://www.w3.org/WAI/images/perspective.jpg) no-repeat;
  * > & {
    background-position: 0.6em 0; /* Hide from WinIE */
  }
  p {/* For WinIE only */
    margin: 0 0 0 -24%;
    width: 24%;
  }
  & > p {/* Hide from WinIE */
    margin: 0 0 0 -31.58%;
    width: 31.58%;
  }
  p {
    padding: 0 0.6em 0 0;
    border-right: 1px solid $wai_link;
    white-space: nowrap;
    min-height: 48px;		/* Keep height if logos are scaled down */
    background: $w3c_blue;
    color: $w3c_fg;
  }
  img {
    vertical-align: bottom;	/* Avoid empty space for descenders below */
    background: $w3c_blue;
    color: $w3c_fg;
  }
}

/*
* The #tagline has an orange background and a rounded top-right corner.
*/

#tagline {
  display: block;
  overflow: hidden;/* Let height include floats */
  margin: 0;
  padding: 0;
  color: $w3c_fg;
  background: $wai_red;
  min-height: 23px;/* Height of rounded corner */
  border-radius: 0 28px 0 0;
  p {
    margin: 0;
    padding: 0.3em 20px 0.3em 0.3em; /* 20px makes room for rounded corner */
    text-align: right;
  }
}


/*
* #nav is the navigation area. The H2s are hidden.
* 
* @@ need to cleanup markup for hierarchical nav & static-nav
* The HTML for the nav is generated by a script
* we need to coordinate any changes in the nav with the 
* CSS, HTML, specific design requirements, and generating  @@
*/
#nav {
  clear: left;
  float: left;
  width: 24%;
  padding: 0 0.3em;		/* Make #nav same width as logos and tag */
  color: $wai_link;
  font-size: 0.95em;
  h2 {/* hide visual rendering of h2 */
    @extend .visuallyhidden;
  }
  a {
    color: $wai_link;		/* WinIE doesn't support 'inherit' */
    text-decoration: none;
  }
  #nav1 a,
  #nav-static a {
    display: block;
    width: 100%;  /* to get display:block to work in WinIE & not have lots of leading between <li>s */
  }
  #w3cnav {
    margin: 0 -0.3em 0em -0.3em; /* -0.3em to undo the padding on #nav */
    padding: 0.3em 0.3em 0.3em 0;
    background: white;
    /* hack for WinIE only \*/
    * html & {
      border-bottom: 1px solid $wai_link;
    }
    /* End hack */
  }

  /* anno [@@TODO: old code - needs cleanup]
  * lists marked as 'anno' have a specific look
  (no bullets, separating lines) 
  */
  .anno {
    margin: 0;
    padding: 0;
    border-top: 0;
    li {
      padding: 0.1em 0em 0.1em 0;
      list-style: none;
      margin-left: 0;
      margin-right: 0;
      border-top: 1px solid #69c;
      margin-left: 1em;
      li {
        margin: 0.1em 0em 0.1em 1.0em;
        list-style: square;
        padding: 0;
        border: none;
      }
    }
  }
  #current-node {
    font-weight: bold;
    color: $wai_fg;
    .label {
      display: block;
      background-color: $wai_bg;
    }
  }
  #current-icon {/* Show to the left of the item */
    color: $wai_red;
    position: absolute;
    left: 0;
    font-weight: bold;
    font-size: 177%;
    display: block;		/* Redundant, except for WinIE6 */
    /* hack for WinIE only \*/
    * html & {
      left: -3em;
    }
  }
  .current-page {/* for >> not in #nav */
    color: $wai_red;
    font-weight: bold;
    font-size: 177%;
  }

  .nav-discover {
    margin-left: -0.3em; /*-0.3em to undo the padding on #nav */
    margin-right: -0.3em; /*-0.3em to undo the padding on #nav */
    background: #FFC;
    border: 1px solid $wai_red;
    padding-left: 31px;
    padding-right: 5px;
    font-style: italic;
    h2 {/* hide visual rendering of h2 */
      @extend .visuallyhidden;
    }
  }
  .translations {
    padding-left: 32px;
    margin-left: -0.3em; /*-0.3em to undo the padding on #nav */
    margin-right: -0.3em; /*-0.3em to undo the padding on #nav */
  }
}

/*
* #subhomenav and #nav1 together make up the second menu.
*
* [@@remove #wainav after all transitoned to #subhomenav]
*/

/*#nav-static */
#wainav, #subhomenav,
#nav1 {
  color: $wai_link;
  background: #dfebf7;
  border: 1px solid $wai_link;
  border-right: 2px solid $wai_link;
  margin: 0 -0.3em;		/* -0.3em to undo the padding on #nav */
  padding: 0;
  position: relative;		/* Create containing block for #current-icon */
}

#wainav, #subhomenav {
  padding: 0.5em 0.1em 0.5em 0.3em;
  font-weight: bold;
}
	
#nav1 {
  margin-bottom: 1em;
  ul, ol {
    margin: 0;
    padding: 0;
  }
  li {
    padding: 0.5em 0.1em 0.5em 1.5em;
    border-bottom: 1px solid $wai_link;
    margin: 0;			/* No bullet on first level */
    list-style: none;
    li {
      margin: 0.2em 0.1em 0.2em 1.0em;
      list-style: square;
      padding: 0;
      border-bottom: none;
      vertical-align: top;	/* This has effect on the bullet in WinIE6... */
    }
  }
  .nav-head {
    list-style: none;
    color: #369;
    margin-top: 0.5em;
  }
  .current-nav {
    background: #eff5fb;
  }
}

/* 
* Optional sidebar. Will be shown in left margin
* (underneath the #nav menus).
*/
.sidebar {
  margin: 0 0 0 -13.5%;	/* For WinIE */
  width: 24%;
  *>& {
    margin: 0 0 0 -36.9863013698%;	/* For others #nav/#main */
    width: 31.58%;
  }
  clear: left;
  float: left;
  padding: 0 0 0 0.3em;
  font-size: 0.95em;
  h2 {/* hide visual rendering of h2 */
    @extend .visuallyhidden;
  }
}

/*
* #main contains the contents that differs from page to page.
*/
#main {
  margin: 0 0 0 27%;		/* 27% is bigger than 24%, the width of #nav */

  h1 {
    margin: 0 0 0 0;
    padding: 1.3em 0 0 0;
    font: bold 145% "Georgia", serif;
    .subtitle {
      font-size: 85%;;
    }
  }
  h2 {
    color: $wai_red;
    border-bottom: 1px dashed $wai_red;
    font-size: 1.35em;
    margin-top: 1.0em;
    margin-bottom: 0;
  }
  #announce {
    h2 {
      font-size: 1.15em;
      margin: 1em 0 0.5em 0;
    }
  }
  h3 {
    color: $wai_red;
    font-size: 1.25em;
    font-family: "Trebuchet MS", sans-serif;
  }
  h4 {
    font-size: 1.15em;
    font-family: "Trebuchet MS", sans-serif;
  }
  h5 {
    font-size: 1.05em;
    font-family: "Trebuchet MS", sans-serif;
  }
  
  .status {
  	padding: .25em;
    margin-bottom: 1em;
  	h3, p {
  		display:inline;
  		color: inherit;
  		font-size: 1em;
  	}
  	.draft & {
  		background-color: #CFC;
  	}
  	.editors-draft & {
  		background-color:#FCC;
  	}
  }
}

/*
* #what is a summary in a yellow box that looks as if it is attached
* to the #tagline. #contents are little in-page/anchor/target links. All
* three have the same width and are floated right.
*/
.rh-box {
  float: right;
  clear: right;
  margin: 0 0 1em 2em;
  padding: 0 0.3em 0.5em 1em;
  width: 25%;			/* need to explore issues */
  line-height: 115%;
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0 0 0.3em 0;
    }
  }
}

#what {
  @extend .rh-box;
  background: #FFC;
  border: 1px solid $wai_red;
  border-top: none;
  p {
    font-size: 0.9em;
    font-weight: bold;
    margin: 0.5em 0 0.1em 0;
    padding: 0;
    border-bottom: none;
    &:first-child {
      margin-top: 0;
    }
  }
  ul {
    font-size: 0.9em;
    padding-left: 1.3em;
    list-style: url(images/bullet-c60.gif);
  }
  h2 {
    @extend .visuallyhidden;
  }
  a {
    color: $wai_link;		/* WinIE doesn't support 'inherit' */
    text-decoration: none;
  }
}

#announce {
  @extend .rh-box;
  background: $wai_bg;
  border: 1px solid $wai_red;
  *>& {
    width: 34.2465753425%;	/* = 25% / width(#main) */
  }
  p {
    margin-top: 0;
    padding-top: 0;
  }
  ul {
    padding-left: 1.1em;
    list-style: url(images/bullet-036.gif);
  }
}

#contents {
  @extend .rh-box;
  background: $wai_bg;
  border: 1px dashed $wai_red;
  font-weight: bold;
  color: $wai_red;
  font-size: 0.9em;
  h2 {
    font-size: 1em;
    margin: 0.5em 0 0.1em 0;
    padding: 0.5em 0 0.3em 0;
    border-bottom: none;
    color: $wai_fg;
    &:first-child {
      margin-top: 0;
    }
  }
  ul {
    list-style: none;
    li {
      display: inline;		/* HACK: otherwise too much space in WinIE */
    }
  }
  a {
    color: $wai_red;		/* WinIE6 doesn't support 'transparent' */
    display: block;		/* Make background clickable in many browsers*/
    margin: 0.4em 0;
    padding: 0 0 0 1.5em;
    background: url(/Icons/downinpage.png) top left no-repeat;
  }
}

/*
* The #footer contains the copyright
*/
#footer {
  border-top: 1px solid $wai_red;
  clear: both;
  color: #333;
  font-size: 0.9em;
  h2 {
    @extend .visuallyhidden;
  }
  a {
    color: inherit;
    text-decoration: underline;
  }
  .cc {
    border: 9px solid $wai_bg;
    float: left;
  }
  ul {
    margin-left: 0;
    padding: 0;
    li {
      list-style-type: none;
    }
  }
}

.copyrightcc {
  line-height: normal;
}

/*
* spacing around lists
*/
dt {
  margin-top: 0.5em;
}
li {
  margin-bottom: 0.1em;
}
.listspaced {
  li {
   margin-bottom: 1em;
  }
}
.listtight {
  margin-bottom: 0;
}
.listintro p {/* class on the <p> for *no* space between it and list */
  padding-bottom: 0;
  margin-bottom: 0;
}
.listafter {/* class on the <p> for little space between it and list */
  padding-top: 0;
  margin-top: 0.5em;
}
.listwithp, .listafterpul {/* class on the <ul> */
  padding-top: 0;
  margin-top: 0;
}

/*
* structure markup that is not needed in visual display
* (still want avaialble to screen readers and such)
*/
.no-display {/* hide visual rendering*/
  @extend .visuallyhidden;
}

/*
* misc
*/

#skipwrapper {
  width: 1px;
  height: 1px;
  overflow: hidden;
  float: right
}
hr {
  color: #369;
  background-color: #369;
}
.float-right {
  /* for images, put in img (doesn't disply in some browsers when in div or span) */
  float: right;
}
.float-left {
  float: left;
}
.subtext {
  font-size: 0.9em;
  font-style: italic;
  color: #333333;
}
.center {
  text-align: center;
}
.right-align {
  text-align: right;
}
.border1c60 {
  border-style: solid;
  border-color: $wai_red;
  border-width: 1px;
}
.changed {
  background: #FFFFCC;
}
.highlight-version {
  border: solid 1px #630;
  color: #630;
  background-color: #cfc;
  font-weight: bold;
  padding: 0.5em;
}
.termref {
  text-decoration: none;
  color: #000000;
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: dashed #808080 1px; /* de-emphasize glossary links */
  background-color: transparent;
  &:link {
    color: #000000;
    background : inherit;
  }
  &:hover, &:active, &:focus {
    color: #0000CC;
    background : inherit;
    border-bottom: solid #0000CC 1px; /* de-emphasize glossary links */
  }
}

.subhead {
  font-size: 0.75em;
  display: block;
}

/* ************ links back to top *************** */

.totop {
  display: block;
  text-align: right;
  background-color: #eff5fb;
  a {
    background: url(http://www.w3.org/Icons/topofpage.png) left no-repeat;
    padding-left: 1em;
  }
}

/* *** misc *** */
.quiet {
  color: #4f4f4f;
  a {
    color: #4f4f4f;
  }
}

ul.inline {
  display: inline;
  li {
    display: inline;
    &:before {
      content: ", "
    }
    &:first-child {
      &:before {
        content: '';
      }
    }
    &:last-child {
      &:before {
        content: ', and ';
      }
      &:after {
        content: '.';
      }
    }
    &:last-child {
      &:nth-child(2) {
        &:before {
          content: " and ";
        }
      }
      &:first-child {
        &:before {
          content: '';
        }
      }
    }
  }
}