@-ms-viewport { width: device-width; } @-o-viewport { width: device-width; } @viewport { width: device-width; }

@import "wai_style";

.permalink {
  background-color: #fffaf5;
}

#main {
  header {
    .subtitle {
      @extend .font-secondary;
      color: $wai_fg;
      border: none;
      font-size: 1.2em;
      margin-top: 0.25em;
      font-weight: bold;
    }
  }
  .inner {
    &>* {
      margin-left: 2em;
    }
    &>h2 {
      margin-left: 0;
    }
  }
  nav.section {
    float: right;
    width: 27%;
    background: lighten($w3c_paleblue, 10%) none repeat scroll 0 0;
    border: 1px solid #930;
    font-weight: bold;
    padding: 1em;
    margin-left: 1em;
    margin-top: 2em;
    p {
      margin: 0 0 0.5em 0;
      font-size: 130%;
    }
    h2 {
      @extend .visuallyhidden;
    }
    ul {
      margin: 0.5em 0 0 0;
    }
    a {
      text-decoration: none;
      &:visited {
        color: $w3c_blue;
      }
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
  
  .tips-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    li {
      width: 25%;
      margin: 0;
      padding: 0 1em 2em 1em;
      text-align: center;
      a {
        display: block;
        font-size: 105%;
        margin-bottom: 0.5em;
        line-height: 1.5em;
        font-weight: bold;
        span {
          display: block;
          font-size: 140%;
        }
      }
    }
  }
}