@-ms-viewport { width: device-width; } @-o-viewport { width: device-width; } @viewport { width: device-width; }

@import "wai_style";


// Media query variables
$small:  400px;
$medium: 700px;
$big:    900px;
$large:  1300px;

$wai_grey_bg: #e0e0e0;
$wai_grey: #333333;

.permalink {
  background-color: $wai_bg;
}

// Adjust navigation for small viewports
@include mq($small) {
  #nav {
    float: none;
    width: auto;
  }
  #main {
    margin: 0;
  }
}
@include mq($medium) {
  #nav {
    float: left;
    width: 24%;
  }
  #main {
    margin: 0 0 0 27%;
  }
}

#logos {
  img {
    max-width: none;
  }
}

#main {
  header {
    @include mq($medium) {
      h1 {
        padding: 1.3em 0 0 0;
      }
    }
    .subtitle {
      @extend .font-secondary;
      color: $wai_fg;
      border: none;
      font-size: 1.2em;
      margin-top: 0.25em;
      font-weight: bold;
    }
  }
  .right-inset {
    @include mq($small) {
      float: right;
      width: 27%;
      padding: 2em 0 1em 1em;
    }
    background-color: $wai_bg;
  }
  nav.section {
    margin-bottom: 1em;
    background: $wai_grey_bg none repeat scroll 0 0;
    font-weight: bold;
    padding: 1em;
    border-radius: 3px;
    p {
      margin: 0 0 0.5em 0;
      font-size: 130%;
    }
    h2 {
      @extend .visuallyhidden;
    }
    ul {
      margin: 0.5em 0 0 3em;
    }
    a {
      text-decoration: none;
      color: $wai_link_active !important;
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
  aside.what-is-wcag {
    border: 1px solid $wai_red;
    padding: 1em;
    h2 {
      margin-top: 0;
      border-bottom: none;
    }
    p:last-child {
      margin-bottom: 0;
    }
    .guide2 & {
      border: none;
      padding: 0;
    }
  }
  
  .tips-grid {
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    li {
      .fa-li {
        position: static;
        font-size: 250%;
        margin-bottom: 10px;
        width: auto;
      }
      @include mq($small) {
        width: 50%;
      }
      @include mq($medium) {
        width: 25%;
      }
      margin: 0;
      padding: 0 1em 2em 1em;
      text-align: center;
      a {
        display: block;
        font-size: 105%;
        margin-bottom: 0.2em;
        padding-bottom: 0.2em;
        line-height: 1.5em;
        font-weight: bold;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        span {
          display: block;
          font-size: 140%;
        }
        &:visited {
          color: $wai_link;
        }
        &:hover, &:focus {
          border-bottom: 2px solid $wai-red;
          color: $wai_red;
        }
      }
    }
  }
  
  .inner {
    .tip {
      margin-bottom: 3em;
      &>* {
        margin-left: 1em;
        @include mq($medium) {
          margin-left: 28px;
        }
      }
      &>h2 {
        margin-left: 0;
      }
    }
    .highlight {
      background: yellow;
    }
    
    h3 {
      color: $wai_fg;
    }
    
    figure {
      margin-left: 0.1em;
      figcaption {
        color: $wai_fg;
      }
    }
    
    @include mq($medium) {
      .two-column {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        figure {
          width: 49%;
        }
      }
      .three-column {
        display: flex;
        justify-content: space-between;
        figure {
          margin-right: 1em;
        }
      }
      .four-column {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        figure {
          width: 24.5%;
        }
      }
    }
    figure {
      clear: both;
      figcaption {
        padding-bottom: 0.5em;
      }
      &>div {
        p {
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
        .required {
          color: #992929;
        }
      }
    }
    .contrast {
      figure {
        div {
          padding: 1em;
          background: lighten($wai_grey_bg, 10%);
          box-shadow: 0 0 2px 0 $wai_grey_bg;
        }
      }
      .fail {
        color: lighten($wai_grey, 40%);
      }
      .pass {
        color: lighten($wai_grey, 13%);
      }
      button {
        @extend .btn;
        padding: 0.2em 1em;
        background: #992929;
        color: #FFFFFF !important;
        &:focus {
          border: 1px solid #00B233;
        }
        &:active {
          background: lighten(#992929, 5%);
        }
      }
    }
    .color-alone {
      figure {
        img {
          float: left;
          margin: 0 1em 1.5em 0;
        }
        ul {
          list-style-type: none;
          li {
            &:before {
              content: '◼︎ ';
              font-size: 160%;
              white-space: nowrap;
            }
          }
        }
        li {
          &.super:before {
            color: #717ACB;
          }
          &.aqua:before {
            color: #50CEFF;
          }
          &.bat:before {
            color: #79C850;
          }
          &.star:before {
            color: #FFB760;
          }
          &.blue:before {
            color: #FB694C;
          }
        }
      }
    }
    .focus {
      figcaption {
        padding-right: 1em;
      }
      p {
        position: relative;
        padding: 0.25em 0.5em;
        text-align: center;
      }
      a {
        font-size: 110%; 
        text-decoration: underline;
      }
      .hover {
        a {
          color: #992929;
          text-decoration: underline;
        }
        img {
          position: absolute;
          top: 1em;
          left: 50%;
        }
      }
      .keyboard {
        a {
          outline: 2px dashed #992929;
          color: #992929;
        }
      }
      .active {
        a {
          background: #992929;
          color: #ffffff;
        }
        img {
          position: absolute;
          top: 1em;
          left: 50%;
        }
      }
    }
    .labels {
      input, textarea {
        border: 1px solid #bfbfbf;
        padding: 2px 4px;
        &:focus {
          border: 1px solid $wai_link_active;
        }
      }
      figure {
        width: 80%;
        @include mq($medium) {
          width: 74%;
        }
        &>div {
          width: 100%;
        }
      }
      .fail {
        label {
          float: right;
        }
        input {
          width: 50%;
        }
        textarea {
          width: 100%;
          height: 4em;
        }
      }
      .pass {
        legend {
          font-weight: bold;
          margin-bottom: 0.5em;
        }
        .row {
          padding: 0.25em 0.5em;
        }
        label {
          width: 33%;
          display: inline-block;
        }
        input {
          width: 60%;
        }
        textarea {
          width: 60%;
          height: 5em;
        }
        @include mq($medium) {
          label {
            width: 23%;
          }
          input, textarea {
            width: 73%;
          }
        }
      }
    }
    .errors {
      .errors {
        li {
          span {
            color: #992929;
          }
        }
      }
      legend {
        font-weight: bold;
        margin-bottom: 0.5em;
      }
      .row {
        padding: 0.25em 0.5em;
        &.error {
          background: #992929;
          color: #ffffff;
          label {
            color: #ffffff;
          }
        }
      }
      label {
        width: 7em;
        display: inline-block;
      }
      input {
        width: 20em;
      }
      textarea {
        width: 20em;
        height: 5em;
      }
    }
    .responsive {
      @include mq($medium) {
        width: 91%;
      }
      img {
        @include mq($medium) {
          &:first-child {
            margin-right: 2em;
          }
        }
      }
    }
  }
}

@media print {
  body {
    background: #ffffff;
  }
  
  header {
    img {
      max-width: none;
    }
    #masthead {
      margin: 0;
      float: left;
      > p, p {
        margin: 0;
        width: auto;
        border-right: none;
      }
    }
    #tagline {
      background: none;
      color: #333;
      p {
        text-align: left;
      }
    }
  }
  #main {
    margin: 0;
  }
  #controls, #nav, nav.section, .contribute, .permalink {
    display: none;
  }
  .color-alone {
    img {
      width: 150px;
      height: 150px;
    }
  }
}