<% if current_page.data.no_contributions != true  %>
<aside class="side-box contribute" role="complementary">
  <h2 class="heading">Help improve this page</h2>
  <p>Please share your ideas, suggestions, or comments via email or GitHub.</p>

	<div class="buttons">
  	<a class="btn" title="Publicly archived list" href="mailto:wai-eo-editors@w3.org?subject=%5bGetting%20Started%20Tips%20Input%5d">E-mail wai-eo-editors@w3.org</a>
    <a class="btn" href="https://github.com/w3c/wai-quick-start/blob/master/source/<%= current_page.path %>.erb.md">Fork &amp; edit on GitHub</a>
  	<a class="btn" href="https://github.com/w3c/wai-quick-start/issues/new">New GitHub Issue</a>
	</div>
</aside>
<% end %>