<strong>Editors:</strong>
<a href="/People/#kevin">Kevin White</a>,
<a href="/People/shadi/">Shadi About-Zahra</a>, and
<a href="/People/Shawn/">Shawn Lawton Henry</a>.

<% if current_page.path != 'acknowledgements.html' %>
  <a href="acknowledgements.html">Acknowledgements</a>.
<% end %>

Developed by the <a href="/WAI/EO/">Education and Outreach Working Group (EOWG)</a>.

Developed with support from the <a href="/WAI/DEV/">WAI-DEV project</a>, co-funded by the European Commission <abbr title="Information Society Technologies">IST</abbr> Programme.