<aside class="side-box contribute" role="complementary">
  <h2 class="heading">We welcome your ideas</h2>
  <p>Please send any ideas, suggestions, or comments to the <a href="mailto:wai-eo-editors@w3.org?subject=%5bQuick%20Start%20Tips%20Feedback%5d">(publicly-archived) mailing list wai-eo-editors@w3.org</a>.</p>

	<div class="buttons">
  	<a class="btn" href="https://github.com/w3c/wai-quick-start/blob/master/source/<%= current_page.path %>.erb.md">Fork &amp; edit this page on GitHub</a>
  	<a class="btn-primary" href="https://github.com/w3c/wai-quick-start/issues/new">New GitHub Issue</a>
	</div>
</aside>