<div class="navigation">
  <nav role="navigation" aria-label="Navigation" id="nav">
    <ul aria-labelledby="list-heading-tutorials">
      <li>Color contrast</li>
      <li>Meaningful color</li>
      <li>Interactive elements</li>
      <li>Navigation structure</li>
      <li>Audio and video players</li>
      <li>Errors should make designers cry</li>
      <li>Forms and labels</li>
      <li>Text content</li>
    </ul>
  </nav>
</div>
