<div id="sitenav">
  <nav role="navigation" aria-label="Site Navigation" id="nav">
    <a href="/WAI/">Web Accessibility Initiative (WAI) Home</a>
    <ul>
      <li><a href="/WAI/gettingstarted/Overview.html">Getting Started</a></li>
      <li><a href="/WAI/users/Overview.html">Designing for Inclusion</a></li>
      <li><a href="/WAI/guid-tech.html">Guidelines & Techniques</a></li>
      <li><a href="/WAI/managing.html">Planning & Implementing</a></li>
      <li><a href="/WAI/eval/Overview.html">Evaluating Accessibility</a></li>
      <li><a href="/WAI/train.html">Presentations & Tutorials</a></li>
      <li><a href="/WAI/about-links.html">Getting Involved with WAI</a></li>
    </ul>
    <div class="nav-discover">
       <p><a shape="rect" href="http://www.w3.org/WAI/yourWAI"><strong><u>Discover new resources</u></strong> for people with disabilities, policy makers, managers, and you!</a></p>
    </div>
  </nav>
</div>
