<aside class="what-is-wcag">
  <h2>What is <acronym title="Web Content Accessibility Guidelines">WCAG</acronym>?</h2>
  <p>The Web Content Accessibility Guidelines (WCAG) are the international standard on web accessibility.</p>
  
  <p><acronym title="Web Content Accessibility Guidelines">WCAG</acronym> requirements are specified as Success Criteria (SC) that detail what needs to be done to meet each requirement.</p>
  
  <p><a href="/WAI/intro/wcag.php">Find out more about <acronym title="Web Content Accessibility Guidelines">WCAG</acronym></a></p>
</aside>
