<aside class="what-is-wcag">
  <h2>What is <acronym title="Web Content Accessibility Guidelines">WCAG</acronym>?</h2>
  <p>Web Content Accessibility Guidelines (WCAG) is the international standard for making web content more accessible to people with disabilities. The <acronym title="Web Content Accessibility Guidelines">WCAG</acronym> requirements are called "success criteria" (SC).</p>
  <p>Learn more from the <a href="/WAI/intro/wcag.php"><acronym title="Web Content Accessibility Guidelines">WCAG</acronym> Overview</a></p>
</aside>
