<aside id="what-is-wcag" class="what-is-wcag">
  <h2>About WCAG</h2>
  <p>Web Content Accessibility Guidelines is the international standard for making web content more accessible to people with disabilities. The WCAG requirements are called "success criteria".</p>
  <p>Learn more from the <a href="<%= w3url '/WAI/intro/wcag.php' %>">WCAG Overview</a>.</p>
</aside>
