@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
  font-style: normal;
}.flaticon-compass56:before {
	content: "\e000";
}
.flaticon-design21:before {
	content: "\e001";
}
.flaticon-desktop20:before {
	content: "\e002";
}
.flaticon-graphicseditor8:before {
	content: "\e003";
}
.flaticon-magnifier24:before {
	content: "\e004";
}
.flaticon-megaphone18:before {
	content: "\e005";
}
.flaticon-paintbrush2:before {
	content: "\e006";
}
.flaticon-screen124:before {
	content: "\e007";
}
