---
title: Icon Samples
status: editors-draft
---

<%= stylesheet_link_tag 'icons/flaticon.css'  %>

<style>
  #examples li {
    margin-bottom: 2em;
  }

  #examples li li {
    margin-bottom: 2em;
  }
  
  #examples span {
    margin-right: 1em;
  }
  #examples img {
    margin-right: 2em;
  }
  #examples p {
    margin: 0;
  }
  #examples p:first-of-type {
    margin-top: 1em;
  }
</style>

<p>The different sizes reflect how the icon will look on the overview page, as a heading in a tip page, and in the section navigation within a tip page.</p>

<p><b>Note</b>: Numbering is for reference purposes and does not indicate any preference.</p>

<ul id="examples">
  <li>Designing
    <ol>
      <li>Overview: <span class="fa fa-paint-brush" style="font-size: 260%"></span>
          Heading: <span class="fa fa-paint-brush" style="font-size: 145%"></span>
          Section Nav: <span class="fa fa-paint-brush" style="font-size: 100%"></span>
          <p><b>Pros</b>: Simple, clean, works well at all sizes, conveys visual design</p>
          <p><b>Cons</b>: Does not covey interaction design</p>
      </li>
      <li>Overview: <img width="37" src="images/designing-large.png" alt="">
          Heading: <img width="22" src="images/designing-large.png" alt="">
          Section Nav: <img width="15" src="images/designing-small.png" alt="">
          <p><b>Pros</b>: Conveys design for a digital platform</p>
          <p><b>Cons</b>: More complicated, difficult to understand at small sizes</p>
      </li>
      <li>Overview: <img width="37" src="images/designing-2-large.png" alt="">
          Heading: <img width="22" src="images/designing-2-large.png" alt="">
          Section Nav: <img width="15" src="images/designing-2-large.png" alt="">
          <p><b>Pros</b>: Conveys interaction design</p>
          <p><b>Cons</b>: More complicated, difficult to understand at small sizes, may not too much about interaction design</p>
      </li>
    </ol>
    <p>Other icons considered:<br><br></p>
    <ul>
      <li>Overview: <span class="flaticon-compass56" style="font-size: 260%"></span>
          Heading: <span class="flaticon-compass56" style="font-size: 145%"></span>
          Section Nav: <span class="flaticon-compass56" style="font-size: 100%"></span>
      </li>
      <li>Overview: <span class="flaticon-design21" style="font-size: 260%"></span>
          Heading: <span class="flaticon-design21" style="font-size: 145%"></span>
          Section Nav: <span class="flaticon-design21" style="font-size: 100%"></span>
      </li>
      <li>Overview: <span class="flaticon-graphicseditor8" style="font-size: 260%"></span>
          Heading: <span class="flaticon-graphicseditor8" style="font-size: 145%"></span>
          Section Nav: <span class="flaticon-graphicseditor8" style="font-size: 100%"></span>
      </li>
      <li>Overview: <span class="flaticon-paintbrush2" style="font-size: 260%"></span>
          Heading: <span class="flaticon-paintbrush2" style="font-size: 145%"></span>
          Section Nav: <span class="flaticon-paintbrush2" style="font-size: 100%"></span>
      </li>
    </ul>
  </li>
  <li>Evaluating
    <p>The bug icon </p>
    <ol>
      <li>Overview: <span class="fa fa-bug" style="font-size: 260%"></span>
          Heading: <span class="fa fa-bug" style="font-size: 145%"></span>
          Section Nav: <span class="fa fa-bug" style="font-size: 100%"></span>
          <p><b>Pros</b>: Simple, clean, works well at all sizes, common icon for QA activities</p>
          <p><b>Cons</b>: May not be immediately understood by non-QA readers</p>
      </li>
    </ol>
    <p>Other icons considered:<br><br></p>
    <ul>
    
      <li>Overview: <span class="fa fa-clipboard" style="font-size: 260%"></span>
          Heading: <span class="fa fa-clipboard" style="font-size: 145%"></span>
          Section Nav: <span class="fa fa-clipboard" style="font-size: 100%"></span>
      </li>
      <li>Overview: <span class="fa fa-clipboard" style="font-size: 260%"></span>
          Heading: <span class="fa fa-clipboard" style="font-size: 145%"></span>
          Section Nav: <span class="fa fa-clipboard" style="font-size: 100%"></span>
      </li>
      <li>Overview: <span class="flaticon-screen124" style="font-size: 260%"></span>
          Heading: <span class="flaticon-screen124" style="font-size: 145%"></span>
          Section Nav: <span class="flaticon-screen124" style="font-size: 100%"></span>
      </li>
      <li>Overview: <span class="flaticon-desktop20" style="font-size: 260%"></span>
          Heading: <span class="flaticon-desktop20" style="font-size: 145%"></span>
          Section Nav: <span class="flaticon-desktop20" style="font-size: 100%"></span>
      </li>
      <li>Overview: <span class="flaticon-magnifier24" style="font-size: 260%"></span>
          Heading: <span class="flaticon-magnifier24" style="font-size: 145%"></span>
          Section Nav: <span class="flaticon-magnifier24" style="font-size: 100%"></span>
      </li>
      <li>Overview: <span class="fa fa-heartbeat" style="font-size: 260%"></span>
          Heading: <span class="fa fa-heartbeat" style="font-size: 145%"></span>
          Section Nav: <span class="fa fa-heartbeat" style="font-size: 100%"></span>
      </li>
    </ul>
  </li>
  <li>Writing
    <ol>
      <li>Overview: <span class="fa fa-pencil" style="font-size: 260%"></span>
          Heading: <span class="fa fa-pencil" style="font-size: 145%"></span>
          Section Nav: <span class="fa fa-pencil" style="font-size: 100%"></span>
      </li>
    </ol>
  </li>
  <li>Developing
    <ol>
      <li>Overview: <span class="fa fa-code" style="font-size: 260%"></span>
          Heading: <span class="fa fa-code" style="font-size: 145%"></span>
          Section Nav: <span class="fa fa-code" style="font-size: 100%"></span>
      </li>
    </ol>
  </li>
  <li>Managing
    <ol>
      <li>Overview: <span class="fa fa-cogs" style="font-size: 260%"></span>
          Heading: <span class="fa fa-cogs" style="font-size: 145%"></span>
          Section Nav: <span class="fa fa-cogs" style="font-size: 100%"></span>
      </li>
    </ol>
  </li>
  <li>Advocating
    <ol>
      <li>Overview: <span class="flaticon-megaphone18" style="font-size: 260%"></span>
          Heading: <span class="flaticon-megaphone18" style="font-size: 145%"></span>
          Section Nav: <span class="flaticon-megaphone18" style="font-size: 100%"></span>
      </li>
    </ol>
  </li>
</ul>

<div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>, <a href="http://www.flaticon.com/authors/abhimanyu-rana" title="Abhimanyu Rana">Abhimanyu Rana</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>